<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About us</title>
       <link href="https://fonts.cdnfonts.com/css/codec-pro" rel="stylesheet">
       <link rel="stylesheet" href="{{url_for('static', filename ='style_header_pages.css')}}">
   </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <!-- The header -->
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="http://127.0.0.1:5000/">Home</a></li>
                  <li><a href="http://127.0.0.1:5000/about_project">About us</a></li>
                  <li><a href="http://127.0.0.1:5000/contacts">Contacts</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="text_h1">About us</h1>
            <p class="text_lead">
              Have you always wanted to get acquainted with classic literature but had no idea how to choose books? 
Picking books randomly or relying on influencers, you risk that the books you start to read can appear to be too remote from your everyday problems and, as a result, not beneficial for your self-development.
The experts of Classy Books selected the most prominent classical books which can empower, entertain, console and inspire. We taught the Machine Learning algorithm to choose one particular book which will be beneficial for you. To find out which book it is, answer the questions in the form below. 
            </p>
            <br>        
            <p class="lead">
              <a href="http://127.0.0.1:5000/form" class="btn btn-lg btn-default">answer</a>
            </p>
          </div>     
        </div>
      </div>
    </div>

  </body>
</html>
