<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="description" content="">
    <meta name="author" content="">
   
    

    <title>About us</title>
       <link href="https://fonts.cdnfonts.com/css/codec-pro" rel="stylesheet">

     <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">



    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

   


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="text_h1">About the project</h1>

            <p class="text_lead">
              Many people want to get acquainted with classic literature but do not know how to choose books. If they 
pick books randomly or rely on influencers, the books they start to read can appear too remote from 
their own everyday problems and, as a result, not beneficial in terms of their self-development. Reading 
poorly chosen books can lead to waste of time and disappointment in classic literature.  
The application Classy Classic Books will help to choose the right classic books for everyone. To receive 
a list of classic books, a user fills in the form by answering ten questions and submits it for analysis. The 
Machine Learning algorithms of Classy Classic Books analyse the answers of the user, select a set of 
books suitable for him or her and display a final webpage with previews of these books from Amazon. 
The user can click on the displayed previews to buy the chosen books on Amazon.  
            </p>

            
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">explore</a>
            </p>
          </div>

          
        </div>

      </div>

    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
