<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Classy Form</title>
    <link href="https://fonts.cdnfonts.com/css/codec-pro" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename ='style_form.css')}}">



</head>

<body>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


<h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>

<h1 class="animated rotateIn">answer the questions</h1>
<form name="myForm" action="" method="post" onsubmit="">
<p>are you into thick books which take years to read but make you proud of  your persistence?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option1">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option1" id="option1" value="1">
      <span class="title animated fadeIn">it depends on a book</span>
    </label>
    <label class="option">
      <input type="radio" name="option1" id="option2" value="2">
      <span class="title animated fadeIn">yes because I like to stand out and be the smartest person in the room </span>
    </label>
    <label class="option">
      <input type="radio" name="option1" id="option3" value="3">
      <span class="title animated fadeIn">yes because I like to be engrossed in reading a good book as long as possible</span>
    </label>
    <label class="option">
      <input type="radio" name="option1" id="option4" value="4">
      <span class="title animated fadeIn">no I like dynamic plots and narration</span>
    </label>
</div>
<br>


<p>are you struggling to find the love of your life?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option2">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option2" id="option1" value="1">
      <span class="title animated fadeIn">no, because who needs love when there are so many global issues out there</span>
    </label>
    <label class="option">
      <input type="radio" name="option2" id="option2" value="2">
      <span class="title animated fadeIn">yes, because my love should be ideal </span>
    </label>
    <label class="option">
      <input type="radio" name="option2" id="option3" value="3">
      <span class="title animated fadeIn">yes, because I struggle to define the criteria of love</span>
    </label>
    <label class="option">
      <input type="radio" name="option2" id="option4" value="4">
      <span class="title animated fadeIn">no, I am all good in this department </span>
    </label>
</div>
<br>

<p>are you concerned that your life might turn out purposless?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option3">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option3" id="option1" value="1">
      <span class="title animated fadeIn">yes, because it is difficult to pursue any purpose </span>
    </label>
    <label class="option">
      <input type="radio" name="option3" id="option2" value="2">
      <span class="title animated fadeIn">yes, because I struggle to find a purpose </span>
    </label>
    <label class="option">
      <input type="radio" name="option3" id="option3" value="3">
      <span class="title animated fadeIn">no, I found my purpose </span>
    </label>
    <label class="option">
      <input type="radio" name="option3" id="option4" value="4">
      <span class="title animated fadeIn">no, I do not care</span>
    </label>
</div>
<br>

<p>do you feel that you are drowning in the routine?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option4">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option4" id="option_1" value="1">
      <span class="title animated fadeIn">no, I hate routine and do everything to escape it</span>
    </label>
    <label class="option">
      <input type="radio" name="option4" id="option2" value="2">
      <span class="title animated fadeIn">yes, and I do everything to escape it</span>
    </label>
    <label class="option">
      <input type="radio" name="option4" id="option3" value="3">
      <span class="title animated fadeIn">I am ok with routine</span>
    </label>
    <label class="option">
      <input type="radio" name="option4" id="option4" value="4">
      <span class="title animated fadeIn">routine makes our lives safer</span>
    </label>
</div>
<br>



<p>can referring to religion help with modern issues?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option5">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option5" id="option_1" value="1">
      <span class="title animated fadeIn">no, religion is outdated </span>
    </label>
    <label class="option">
      <input type="radio" name="option5" id="option2" value="2">
      <span class="title animated fadeIn">yes, religions provide universal truth </span>
    </label>
    <label class="option">
      <input type="radio" name="option5" id="option3" value="3">
      <span class="title animated fadeIn">I have never thought about it </span>
    </label>
    <label class="option">
      <input type="radio" name="option5" id="option4" value="4">
      <span class="title animated fadeIn">sometimes</span>
    </label>
</div>
<br>



<p>do you want to be perceived as more outstanding and special?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option6">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option6" id="option_1" value="1">
      <span class="title animated fadeIn">yes,  because I am special</span>
    </label>
    <label class="option">
      <input type="radio" name="option6" id="option2" value="2">
      <span class="title animated fadeIn">no, there is nothing special about me</span>
    </label>
    <label class="option">
      <input type="radio" name="option6" id="option3" value="3">
      <span class="title animated fadeIn">I don`t care what others think</span>
    </label>
    <label class="option">
      <input type="radio" name="option6" id="option4" value="4">
      <span class="title animated fadeIn">no, I don`t need it </span>
    </label>
</div>
<br>




<p>do you struggle to fulfil yourself?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option7">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option7" id="option_1" value="1">
      <span class="title animated fadeIn">no, I feel fulfilled or I am on my way</span>
    </label>
    <label class="option">
      <input type="radio" name="option7" id="option2" value="2">
      <span class="title animated fadeIn">yes, because society does not allow me to fulfil myself</span>
    </label>
    <label class="option">
      <input type="radio" name="option7" id="option3" value="3">
      <span class="title animated fadeIn">I have never thought about it </span>
    </label>
    <label class="option">
      <input type="radio" name="option7" id="option4" value="4">
      <span class="title animated fadeIn">yes, because I am not lucky enough</span>
    </label>
</div>
<br>


<p>are you concerned with the level of random and unmotivated violence in the world?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option8">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option8" id="option_1" value="1">
      <span class="title animated fadeIn">no, I accept this </span>
    </label>
    <label class="option">
      <input type="radio" name="option8" id="option2" value="2">
      <span class="title animated fadeIn">no, I believe that bad deeds are done on purpose </span>
    </label>
    <label class="option">
      <input type="radio" name="option8" id="option3" value="3">
      <span class="title animated fadeIn">yes, it scares me</span>
    </label>
    <label class="option">
      <input type="radio" name="option8" id="option4" value="4">
      <span class="title animated fadeIn">I don`t care</span>
    </label>
</div>
<br>

<p>are you concerned with inequality in the world?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option9">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option9" id="option_1" value="1">
      <span class="title animated fadeIn">no, there is no inequality</span>
    </label>
    <label class="option">
      <input type="radio" name="option9" id="option2" value="2">
      <span class="title animated fadeIn">no, inequality is normal</span>
    </label>
    <label class="option">
      <input type="radio" name="option9" id="option3" value="3">
      <span class="title animated fadeIn">yes, inequality is a problem</span>
    </label>
    <label class="option">
      <input type="radio" name="option9" id="option4" value="4">
      <span class="title animated fadeIn">I don`t care</span>
    </label>
</div>
<br>

<p>do you struggle to be accepted by the society?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option10">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option10" id="option_1" value="1">
      <span class="title animated fadeIn">yes, because I am better than them</span>
    </label>
    <label class="option">
      <input type="radio" name="option10" id="option2" value="2">
      <span class="title animated fadeIn">yes, because I am different from them </span>
    </label>
    <label class="option">
      <input type="radio" name="option10" id="option3" value="3">
      <span class="title animated fadeIn">no, people like me</span>
    </label>
    <label class="option">
      <input type="radio" name="option10" id="option4" value="4">
      <span class="title animated fadeIn">I have never thought about it </span>
    </label>
</div>
<br>

<p>do you suffer from loneliness?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option11">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option11" id="option_1" value="1">
      <span class="title animated fadeIn">yes, because it is hard to meet your people</span>
    </label>
    <label class="option">
      <input type="radio" name="option11" id="option2" value="2">
      <span class="title animated fadeIn">yes because it is hard to establish good relations</span>
    </label>
    <label class="option">
      <input type="radio" name="option11" id="option3" value="3">
      <span class="title animated fadeIn">no</span>
    </label>
    <label class="option">
      <input type="radio" name="option11" id="option4" value="4">
      <span class="title animated fadeIn">I don`t need people </span>
    </label>
</div>
<br>


<p>do you like reading random facts about animals?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option12">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option12" id="option_1" value="1">
      <span class="title animated fadeIn">yes, I am a fan of fluffy donkeys and chubby whales</span>
    </label>
    <label class="option">
      <input type="radio" name="option12" id="option2" value="2">
      <span class="title animated fadeIn">no, insects are more interesting</span>
    </label>
    <label class="option">
      <input type="radio" name="option12" id="option3" value="3">
      <span class="title animated fadeIn">I don`t care</span>
    </label>
    <label class="option">
      <input type="radio" name="option12" id="option4" value="4">
      <span class="title animated fadeIn">no, I am into birds</span>
    </label>
</div>
<br>

<p>would you like to improve your relationship with your family?</p>

<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option13">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose...</span>
    <label class="option">
      <input type="radio" name="option13" id="option_1" value="1">
      <span class="title animated fadeIn">yes, because I feel that they perceive me as a social function, not a human</span>
    </label>
    <label class="option">
      <input type="radio" name="option13" id="option2" value="2">
      <span class="title animated fadeIn">no, I have an amazing family</span>
    </label>
    <label class="option">
      <input type="radio" name="option13" id="option3" value="3">
      <span class="title animated fadeIn">yes, because they don`t understand me</span>
    </label>
    <label class="option">
      <input type="radio" name="option13" id="option4" value="4">
      <span class="title animated fadeIn">I don`t care about them</span>
    </label>
</div>
<br>

<div class="inner cover">
	<h1>
    	<input type="submit" value="submit" class="btn-lg btn-default">
	</h1>
</div>
</form>

<br>
<br>
<br>


</div>
</div>
</div>


<!-- partial -->
  <script src="{{ url_for('static', filename='js/script2.js') }}"></script>

</body>
</html>
