<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Recommendation</title>
       <link href="https://fonts.cdnfonts.com/css/codec-pro" rel="stylesheet">
       <link rel="stylesheet" href="{{url_for('static', filename ='style_recommendation.css')}}">   
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <!-- The header -->
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{{url_for('index')}}">Home</a></li>
                  <li><a href="{{url_for('about_project')}}">About us</a></li>
                  <li><a href="{{url_for('contacts')}}">Contacts</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- The recommendation preview and text -->
          <div class="inner cover">
            <p class="preview">
              <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="212" height="362" frameborder="0" allowfullscreen style="max-width:100%" src={{book_link}} ></iframe>
            </p>
            <p class="text_lead">The Machine Learning algorithm recommends you to read "{{book_name}}". We hope that this book will suit you and broaden your horizons.
            </p> 
          </div> 
        </div>
      </div>
    </div>

  </body>
</html>
